force-app/main/default/flows/Generar_Factura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setAlquiler</name>
        <label>setAlquiler</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Tipo_de_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tipo_de_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Vehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehiculo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Fecha_de_Inicio_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Inicio_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Fecha_de_Finalizacion_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Inicio_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Cantidad_de_Dias_de_Alquiler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cantidad_de_Dias_de_Alquiler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Precio_por_Alquiler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precio_por_Alquiler__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>traerFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precio_por_Alquiler__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_Detalle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFactura</name>
        <label>setFactura</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Factura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardarFactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setViaje</name>
        <label>setViaje</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Tipo_de_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tipo_de_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Vehiculo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehiculo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Fecha_de_Inicio_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Inicio_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Fecha_de_Finalizacion_del_Servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Finalizacion_del_Servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Distancia_en_KM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distancia_del_Viaje_en_KM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Precio_por_Distancia_del_Viaje__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precio_por_Distancia_del_Viaje__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DetalleDeFactura.Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>traerFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Factura.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precio_por_Alquiler__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_Detalle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Segun_el_Tipo_de_Servicio</name>
        <label>Segun el Tipo de Servicio</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>setViaje</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alquiler_de_Vehiculos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Servicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alquiler de Vehiculos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAlquiler</targetReference>
            </connector>
            <label>Alquiler de Vehiculos</label>
        </rules>
    </decisions>
    <interviewLabel>Generar Factura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generar Factura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Guardar_Detalle</name>
        <label>Guardar Detalle</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <inputReference>DetalleDeFactura</inputReference>
    </recordCreates>
    <recordCreates>
        <name>guardarFactura</name>
        <label>guardarFactura</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>traerFactura</targetReference>
        </connector>
        <inputReference>Factura</inputReference>
    </recordCreates>
    <recordLookups>
        <name>traerFactura</name>
        <label>traerFactura</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Segun_el_Tipo_de_Servicio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Factura__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setFactura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DetalleDeFactura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Detalle_de_Factura__c</objectType>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Factura__c</objectType>
    </variables>
</Flow>
